@import "tailwindcss";

body {
  background: #fff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Lemon Sans';
  src: url('/dk_lemon_yellow_sun/DK Lemon Yellow Sun.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lemon Sans', Arial, Helvetica, sans-serif !important;
}
